<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ status_code }} {{ status_message }}</title>
    <link rel="stylesheet" href="http-error-pages.css">
</head>

<body>
    <div id="main">
        <div>{{ status_code }}</div>
        <div class="txt">{{ status_message }}<span class="blink">_</span></div>
    </div>
</body>

</html>